/* Base style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Utilities */
.btn {
  padding: 5px;
  color: white;
  background-color: rgb(235, 83, 18);
  border: none;
  border-radius: 10px;
}

/* Components */
.Accordion-List {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(234, 234, 234);
  padding-top: 10px;
}
.Accordion-container {
  display: flex;
  flex-direction: column;
  margin: 10px 15px;
  border-radius: 25px;
  background: rgb(255, 255, 255);
}
.Accordion-title {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 107px;
  margin: 8px;
  padding: 63px 40px;
  align-content: center;
}
.Accordian-Content {
  margin: 1px 45px 22px 45px;
  padding: 15px 40px;
  border-radius: 10px;
  -webkit-box-shadow: -5px 5px 4px -4px rgba(214, 214, 214, 1);
  -moz-box-shadow: -5px 5px 4px -4px rgba(214, 214, 214, 1);
  box-shadow: -5px 5px 4px -4px rgb(214, 214, 214);
}
.acc-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 12px;
}

/* Pagination */
.pages-flex {
  display: flex;
  justify-content: center;
  background: rgb(234, 234, 234);
}
.pages {
  text-decoration: none;
  padding: 15px;
  margin: 10px;
}
